*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}body {
  direction: rtl;
}
a {
  text-decoration: none;
}
.App {
overflow-y: auto;
  overflow-x: hidden;
  
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    display: none;
  }
}
